@media screen and (max-width: 475px) {
  h1.responsive1 {
    font-size: 35px;
  }
  h3.reponsive2 {
    font-size: 25px;
  }
  h1.responsive3 {
    font-size: 25px;
  }
  h1.responsive4 {
    font-size: 40px;
  }
  h4.responsive5 {
    font-size: 20px;
  }
  
}